/*--------------------Variables--------------------*/
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --portfolio-btn: #f5f4fa;
}

/*-------------------End Variables----------------*/
/*------------------Link List Decor---------------*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*--------------------End Decor--------------------*/

/*---------------------Style Header---------------*/

.header {
  background-color: #ffffff;
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-type {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.curent {
  color: var(--accent-color);
}
.contacts-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}
.contacts-phone-number {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contacts-phone-number:hover,
.contacts-phone-number:focus {
  color: #2196f3;
}
/*----------------End Header----------------*/

body {
  font-family: var(--main-font);
}

/*----------------Hero-----------------------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.modal-btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  cursor: pointer;

  color: #ffffff;
}
/*------------------End Hero-------------------*/

/*----------------Advantages--------------------*/
.advantages {
  background-color: #ffffff;
}
.advantages-title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*-----------------End Advantages----------------*/
/*-----------------About AS----------------------*/
.about-as {
  background-color: #ffffff;
}
.about-as-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/*-----------------End About-As------------------*/
/*-----------------Our Team----------------------*/
.our-team {
  background-color: #f5f4fa;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/*-----------------End Our Team----------------------*/
/*-----------------Footer-------------------------*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.logo-type-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.address-company {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.714px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-company:hover,
.address-company:focus {
  color: rgba(255, 255, 255, 0.6);
}
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: #ffffff;
}
/*------------------End Footer--------------------*/

/*-----------------Portfolio----------------------*/
.portfolio-btn {
  background: var(--portfolio-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #212121;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-btn.curent {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}
/*-----------------End Portfolio Main-----------------*/
