/*--------------------Variables--------------------*/
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --portfolio-btn: #f5f4fa;
}

/*-------------------End Variables----------------*/
/*------------------Link List Decor---------------*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*--------------------End Decor--------------------*/

/*---------------------Reset-----------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
/*---------------------EndReset-----------------------*/

/*----------------------Container---------------------*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----------------------EndContainer-----------------*/

/*---------------------Style Header---------------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;

  margin-right: 93px;
}
.logo-type {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  margin-left: auto;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link.curent {
  color: var(--accent-color);
}
.contacts-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  margin-right: 50px;
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}
.contacts-phone-number {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contacts-phone-number:hover,
.contacts-phone-number:focus {
  color: #2196f3;
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  align-items: center;
}

/*----------------End Header----------------*/

body {
  font-family: var(--main-font);
}

/*----------------Hero-----------------------*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;
}
.modal-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  padding: 10px 32px;
  margin-bottom: 200px;

  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  cursor: pointer;
  border: none;

  color: #ffffff;
}
/*------------------End Hero-------------------*/

/*----------------Advantages--------------------*/
.advantages {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-container {
  display: flex;
  align-items: center;
}
.advantages-title-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.advantages-list {
  display: flex;
  align-items: center;
}
.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title-item {
  padding-bottom: 10px;
}
/*-----------------End Advantages----------------*/
/*-----------------About AS----------------------*/
.about-as {
  background-color: #ffffff;
  padding-bottom: 94px;
}

.about-as-list {
  display: flex;
  align-items: center;
}
.about-as-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 50px;
}
.about-as-item:not(:last-child) {
  margin-right: 30px;
}
/*-----------------End About-As------------------*/
/*-----------------Our Team----------------------*/
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 50px;
}
.our-team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  padding-bottom: 94px;
}
.our-team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;

  color: #212121;
}
.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;

  color: #757575;
}
.our-team-item {
  margin-top: 30px;
  margin-left: 30px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*-----------------End Our Team----------------------*/
/*-----------------Footer-------------------------*/
.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;

  flex-direction: column;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.logo-type-footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.address-list {
  display: flex;
  flex-direction: column;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-company {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.714px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-company:hover,
.address-company:focus {
  color: rgba(255, 255, 255, 0.6);
}
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: #ffffff;
}
/*------------------End Footer--------------------*/

/*-----------------Portfolio----------------------*/
.main-container-portfolio {
  padding-bottom: 94px;
}
.portfolio-btn {
  background: var(--portfolio-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #212121;
  width: 145px;
  height: 38px;
  border: none;

  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-btn-item {
  display: flex;
  align-items: center;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-btn.curent {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-conteiner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 1200px;
  margin-top: 94px;
  margin-left: auto;
}
.porfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 34px;
}
.portfolio-item {
  display: flex;
  align-items: center;
}
.portfolio-item-card {
  background: #ffffff;

  margin-top: 30px;
  margin-left: 30px;
}
.container-buton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.card {
  border: 1px solid #e5e5e5;
  border-top: none;
}
/*-----------------End Portfolio Main-----------------*/
